<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524472830844-g1l8neor4fmh9r2rfjbnvnsap49st811.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524472830844-g1l8neor4fmh9r2rfjbnvnsap49st811</string>
	<key>API_KEY</key>
	<string>AIzaSyCbx1VAA6qQDTT4Jow23AQUo46aR084pUU</string>
	<key>GCM_SENDER_ID</key>
	<string>524472830844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmitrysem.MadMax</string>
	<key>PROJECT_ID</key>
	<string>madmax-d4ff5</string>
	<key>STORAGE_BUCKET</key>
	<string>madmax-d4ff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524472830844:ios:2e700902ad3aaac3e532f9</string>
	<key>DATABASE_URL</key>
	<string>https://madmax-d4ff5.firebaseio.com</string>
</dict>
</plist>